@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --text-color1: #15034c;
    --text-color2: #ffffff;
    --text-color3: #230479;
    --text-color4: #197282;
    --text-color5: #3e3e3e;
    --text-color6: #000000;
    --text-color7: #2c2caa;
    --text-color8: #0f0ffd;
    --text-color9: #082537;
    --bg-color1: #add8e6;
    --bg-color2: #dfdfdf;
    --bg-color3: #9bedd8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--text-color1);
    z-index: 9; /* Adicionado para garantir que o cabeçalho apareça no topo */
}

#logo {
    position: fixed;
    top: 0;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 10; /* Adicionado para garantir que o logo apareça acima do cabeçalho */
}

.marca {
    padding: 7px 0px 7px 15px;
    font-size: 25px;
    color: var(--text-color2);
    font-weight: 800;
}

#imglogo{
    width: 100px;
    height: 55px;
}    

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a {
    position: relative;
    font-size: 24px;
    color: var(--text-color2);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#selecionado{
    color: var(--text-color7);
}

.nav_links a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color2);
    transition: 0.3s;
}

.nav_links a:hover::before {
    width: 100%;
}

#login_btn {
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 6px 18px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
    font-size: 20px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color7);
    background-color: var(--text-color2);
}

#login_btn:hover {
    background-color: var(--text-color4);
    color: var(--text-color2);
}

/* Estilização para o bloco Fale Conosco */
.faleconosco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: auto; /* Centraliza o bloco na tela */
    max-width: 600px; /* Aumenta a largura do bloco */
    margin-top: 100px; /* Desce o bloco um pouco */

    border-radius: 20px;
    box-shadow: 1px -1px 60px var(--text-color5);
    background-color: var(--text-color9); /* Cor de fundo escura */
    color: var(--text-color2); /* Cor do texto branca */
}

.faleconosco .form {
    width: 100%;
    max-width: 500px;
}

.faleconosco .form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color2); /* Cor do texto branca */
    font-size: 35px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.faleconosco .form .form-control {
    margin-bottom: 10px;
    position: relative;
}

.faleconosco .form .form-control label {
    display: block;
    margin-bottom: 5px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.faleconosco .form .form-control input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--text-color5);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.faleconosco .form .form-control .img-sucess,
.faleconosco .form .form-control .img-error {
    position: absolute;
    right: -30px; /* Posiciona o ícone fora da caixa de entrada */
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.faleconosco .form .form-control.error input {
    border-color: red;
}

.faleconosco .form .form-control.error .img-error {
    display: block;
}

.faleconosco .form .form-control.success .img-sucess {
    display: block;
}

.faleconosco .form button {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    cursor: pointer;
    transition: all 0.6s ease 0s;

    font-size: 18px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    border-radius: 15px;
    border: 2px solid var(--text-color1);
    color: var(--text-color2);/* Cor do texto do botão */
    background-color: var(--text-color7); /* Cor de fundo do botão */
}

.faleconosco .form button:hover {
    color: var(--text-color2);
    background-color: var(--text-color1);
    border: 2px solid var(--text-color6); /* Cor de fundo do botão */
}

footer{
    bottom: 0;
    height: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    align-content: center;
    color: var(--text-color2);
    background-color: var(--text-color1);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}