:root {
    --text-color1: #0c012a;
    --text-color2: #ffffff;
    --text-color3: #3f2c73;
    --text-color4: #082537;
    --text-color5: #3e3e3e;
    --text-color7: #000000;
    --bg-color1: #7eadea;
    --bg-color2: #bdbdbd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
}

body{
    background-color: var(--bg-color2);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--text-color1);
}

#logo {
    position: fixed;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 10; /* Garante que o logo fique acima dos outros elementos */
}

.marca {
    padding: 7px 0px 7px 15px;
    font-size: 25px;
    color: var(--text-color2);
    font-weight: 800;
}

#imglogo{
    width: 100px;
    height: 55px;
}    

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a {
    position: relative;
    font-size: 24px;
    color: var(--text-color2);
    font-weight: bold;
}

.nav_links a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color2);
    transition: 0.3s;
}

.nav_links a:hover::before {
    width: 100%;
}
