@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --text-color1: #15034c;
    --text-color2: #ffffff;
    --text-color3: #230479;
    --text-color4: #197282;
    --text-color5: #3e3e3e;
    --text-color6: #000000;
    --text-color7: #2c2caa;
    --text-color8: #0f0ffd;
    --bg-color1: #add8e6;
    --bg-color2: #dfdfdf;
    --bg-color3: #9bedd8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--text-color1);
    z-index: 9; /* Adicionado para garantir que o cabeçalho apareça no topo */
}

#logo {
    position: fixed;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 10; /* Adicionado para garantir que o logo apareça acima do cabeçalho */
}

.marca {
    padding: 7px 0px 7px 15px;
    font-size: 25px;
    color: var(--text-color2);
    font-weight: 800;
}

#imglogo{
    width: 100px;
    height: 55px;
}    

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a {
    position: relative;
    font-size: 24px;
    color: var(--text-color2);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#selecionado{
    color: var(--text-color7);
}

.nav_links a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color2);
    transition: 0.3s;
}

.nav_links a:hover::before {
    width: 100%;
}

#login_btn {
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 6px 18px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
    font-size: 20px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color7);
    background-color: var(--text-color2);
}

#login_btn:hover {
    background-color: var(--text-color4);
    color: var(--text-color2);
}

.sobre{
    text-align: center;
    margin: auto;
    padding-top: 80px;
    width: auto;
}

.sobre h1{
    color: var(--text-color1);
    font-size: 40px;
    font-weight: bold;
}

.sobre h2{
    color: var(--text-color7);
    padding: 5px 0 15px 0;
    font-size: 24px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.sobre p{
    color: var(--text-color6);
    padding: 5px 75px 15px 75px;
    font-size: 18px;
    justify-content: center;
}

.entrega{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: auto;
}

.entrega h1{
    color: var(--text-color1);
    padding: 5px 0 15px 0;
    font-size: 32px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.entrega p{
    color: var(--text-color6);
    padding: 0px 75px 15px 75px;
    font-size: 18px;
    justify-content: center;
}

.sustentabilidade{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: auto;
}

.sustentabilidade h1{
    color: var(--text-color1);
    padding: 5px 0 15px 0;
    font-size: 32px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.sustentabilidade p{
    color: var(--text-color6);
    padding: 0px 75px 15px 75px;
    font-size: 18px;
    justify-content: center;
}

.visao{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: auto;
}

.visao h1{
    color: var(--text-color1);
    padding: 5px 0 15px 0;
    font-size: 32px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.visao p{
    color: var(--text-color6);
    padding: 0px 75px 15px 75px;
    font-size: 18px;
    justify-content: center;
}

.junte-se{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    width: auto;
}

.junte-se h1{
    color: var(--text-color1);
    padding: 5px 0 15px 0;
    font-size: 32px;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.junte-se p{
    color: var(--text-color6);
    padding: 0px 75px 15px 75px;
    font-size: 18px;
    justify-content: center;
}

.junte-se .obrigado{
    margin-top: 30px;
    justify-content: center;
    padding: 0px 75px 15px 75px;
    
    font-size: 26px;
    font-weight: bold;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: var(--text-color7);
}

#logoInteiro{
    display: block;
    margin: auto;
    width: 400px;
    height: 300px;
}

footer{
    bottom: 0;
    height: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    align-content: center;
    color: var(--text-color2);
    background-color: var(--text-color1);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



