:root {
    --text-color1: #0c012a;
    --text-color2: #ffffff;
    --text-color3: #190354;
    --text-color4: #164952;
    --text-color5: #3e3e3e;
    --bg-color1: #7eadea;
    --bg-color2: #e8e8e8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    text-decoration: none;
}
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--text-color1);
}

#logo {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 10; /* Garante que o logo fique acima dos outros elementos */
}

.marca {
    padding: 7px 0px 7px 15px;
    font-size: 25px;
    color: var(--text-color2);
    font-weight: 800;
}

#imglogo{
    width: 100px;
    height: 55px;
}    

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a {
    position: relative;
    font-size: 24px;
    color: var(--text-color2);
    font-weight: bold;
}

.nav_links a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-color2);
    transition: 0.3s;
}

.nav_links a:hover::before {
    width: 100%;
}

#login_btn {
    position: absolute;
    right: 30px;
    top: 10px;
    padding: 6px 18px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color4);
    background-color: var(--text-color2);
}

#login_btn:hover {
    background-color: var(--text-color4);
    color: var(--text-color2);
}

body{
    background-color: var(--bg-color1);
}

/* Slideshow container */
.slideshow-container {
    max-width: 1400px;
    max-height: 550px;
    position: relative;
    top: 60px;
    margin: auto;
    overflow: hidden; /* Evitar que as imagens ultrapassem o container */
}
  
/* Hide the images by default */
.mySlides img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
  
/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 85px 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #515151;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.novidade-nike {
    text-align: center;
    margin: auto;
    width: 650px;
}
  
.novidade-nike h2 {
    font-size: 28px;
    font-weight: 545;
    text-align: left;
    text-shadow: 5px 5px 10px var(--text-color5);
    padding: 16px;
}
  
.novidade-nike h1 {
    font-weight: bold;
    font-size: 31px;
    text-align: center;
    padding: 0 16px;
    color: var(--text-color1);
}
  
.novidade-nike p {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    padding: 0px 16px;
}
  
#buttons {
    font-size: 22px;
    font-weight: 600;
    margin: 20px;
    padding: 17px 30px;
    border-radius: 35px;
    border: 1px solid;
    transition: all 0.9s ease 0s;
    color: var(--text-color2);
    background-color: var(--text-color3);
}

#buttons:hover {
    color: var(--text-color3);
    background-color: var(--text-color2);
}

#carousel-card{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color2);
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
}

.card{
    width: 320px;
    border-radius: 25px;
    background-color: var(--text-color2);
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--text-color3);
    border-radius: 25px 25px 0 25px;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--text-color2);
    padding: 3px;  
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--text-color5);
}

.item{
    font-size: 14px;
    font-weight: 500;
}

.descricao{
    font-size: 14px;
    color: var(--text-color5);
    text-align: center;
}

#comprar{
    font-size: 16px;
    padding: 8px 16px;
    margin: 14px;
    color: var(--text-color2);
    background-color: var(--text-color3);
    border: 1px solid var(--text-color4);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
}

#comprar:hover{
    color: var(--text-color3);
    background-color: var(--bg-color2);
}




/*.base-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--text-color1);
}
*/
/*
nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav ul li a {
    color: var(--text-color2);
    font-size: 1.2rem;
    transition: all 0.1s ease;
}
nav ul li a:hover {
    border-bottom: 3px solid var(--text-color1);
}*/